# === Visual Studio ===
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# === Build results ===
bin/
obj/
[Bb]uild/
[Bb]uilds/
x64/
x86/

# === Logs & temporaires ===
*.log
*.temp

# === Fichiers de config locaux ===
appsettings.Development.json
